{% extends "blat/master.html" %}

{% block title %}Blat {{ blat.id }} Details{% endblock %}

{% block content %}
<div class="cards">
  <div class="card">
    <h4>{{ blat.text }}</h4>
    <div>
        {{ blat.created_on }}
        by @{{blat.created_by}}
        {% if blat.via %}
            <a href="{{blat.via}}"><b>Via</b></a>
        {% endif %}
        {% if blat.created_by == user %}
          <a href="{% url 'editblat' pk=blat.id %}">Edit Blat</a>
        {% endif %}
    </div>
    <a href="javascript:history.go(-1)">Back</a>
  </div>
</div>
{% endblock %}