{% extends "blat/master.html" %}
{% load humanize %}
{% block title %}Blat Home Page{% endblock %}

{% block content %}
  {% if blat_list %}
    {% for blat in blat_list %}
    <div class="panel">
      <div class="panel-body">
       {{ blat.text }}
      </div>
      <div class="panel-footer">
        <a href="{% url 'detail' pk=blat.id %}">{{ blat.created_on|naturaltime }}</a>
        by @{{blat.created_by}}
        {% if blat.via %}
          <a href="{{blat.via}}"><b>/Via</b></a>
        {% endif %}
        {% if blat.created_by == user %}
          <a href="{% url 'editblat' pk=blat.id %}">Edit Blat</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  {% else %}
    <h1>:-(</h1>
    No Blats to Show here.
    {% endif %}
{% endblock %}