html {
  box-sizing: border-box;
}
body {
  color: #37b1ff;
  font-weight: 600;
  font-style: italic;
  background: #eee;
  margin:0; padding:0;
	font-family: 'Segoe UI';
}
.container{
  width: 98%;
  margin: 0 auto;
}
h1,h2,h3,h4{
  font-weight: 400;
}
a{
  color: #D77174;
  text-decoration:none;
}
a:hover{
  color: #d44950;
}
.active{
  color: white;
}
header{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  background: #41295a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #41295a , #2F0743); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #41295a , #2F0743); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header .brand{
  margin-top: 0;
  font-size: 1.2em;
  margin-right: auto;
}
header a:hover{
  color: white;
}
header a{
  padding: 12px;
}
.cards{
  text-align: justify;
}
.panel{
  margin: 2px;
  border-radius: 4px;
  text-align: justify;
  border: 1px solid #337ab7;
}
.panel-body{
  padding: 4px;
  color: #8a6d3b;
  min-height: 4em;
  border-color: #faebcc;
  background-color: #fcf8e3;
}
.panel-footer{
  padding: 4px;
  /*color: #fff;*/
  background-color: #d9edf7;
}
#mycustomform{
  max-width: 260px;
  margin: 2% auto;
}
input, button {
  padding: 4px;
  border-radius: 2px;
  border: 1px solid skyblue;
}
button{
  color: #fff;
  cursor: pointer;
  padding: 6px 18px;
  border-radius: 4px;
  border-color: #357ebd;
  background-color: #428bca;
}
button:hover{
  background-image: -webkit-linear-gradient(#e72510, #d9230f 6%, #cb210e);
  background-image: -o-linear-gradient(#e72510, #d9230f 6%, #cb210e);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e72510), color-stop(6%, #d9230f), to(#cb210e));
  background-image: linear-gradient(#e72510, #d9230f 6%, #cb210e);
  background-repeat: no-repeat;
  border: 1px solid #a91b0c;
}
label{
  min-width: 75px;
  display: inline-block;
}
.errorlist li{
  color: #e72510;
}
@media only screen and (max-width: 450px) {
    header .brand{
      flex-basis: 100%;
    }
}